@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap');
html {
    font-size: 62.5%;
}
html.scroll-prevent {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}
body {
    text-rendering: optimizeSpeed;
    width: 100%;
    font-family: 'ヒラギノ角ゴ Pro W3', 'ヒラギノ角ゴ W3', 'メイリオ', 'ＭＳ Ｐゴシック', system-ui, sans-serif;
    font-weight: normal;
    color: #3e3e3e;
    line-height: 1.8em;
    letter-spacing: 0.03em;
    font-size: 1.4em;
    background-color: #fff;
}
body.new {
    text-rendering: optimizeLegibility;
    width: 100%;
    font-family: 'ヒラギノ角ゴ Pro W3', 'ヒラギノ角ゴ W3', 'メイリオ', 'ＭＳ Ｐゴシック', system-ui, sans-serif;
    font-weight: normal;
    color: #3e3e3e;
    line-height: 1.8em;
    letter-spacing: 0.03em;
    font-size: 1.4em;
    background-color: #fff;
}
body.new #page {
    line-height: 1.8em;
    position: relative;
}
body.new a {
    text-decoration: none;
    color: #000;
}
body.new img {
    vertical-align: bottom;
}
@media screen and (max-width: 1024px) {
    html,
    body,
    body.new,
    #page {
        min-width: 100% !important;
    }
}
@media screen and (max-width: 768px) {
    body,
    body.new {
        font-size: 1.3em;
        line-height: 1.8em;
    }
}
input,
textarea {
    font-family: 'ヒラギノ角ゴ Pro W3', 'ヒラギノ角ゴ W3', 'メイリオ', 'ＭＳ Ｐゴシック', system-ui, sans-serif;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
a {
    text-decoration: none;
    color: #3e3e3e;
}
img {
    vertical-align: bottom;
}
@media print {
    * html body {
        zoom: 0.7;
    }
    body {
        background-color: #fff;
        font-size: 12px;
    }
}
html {
    overflow-y: scroll;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
main,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
object,
embed {
    border: 0;
    vertical-align: bottom;
    outline: none;
}
[hidden],
template {
    display: none;
}
a {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    outline: 0;
}
a:active,
a:hover {
    outline: 0;
}
a img {
    border: none;
    text-decoration: none;
    outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}
ul li {
    list-style: none;
}
ul,
ol {
    list-style-position: inside;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,
th {
    padding: 0;
}
caption,
th {
    text-align: left;
}
img {
    border: none;
    vertical-align: bottom;
}
svg:not(:root) {
    overflow: hidden;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}
pre {
    overflow: auto;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
input,
select {
    vertical-align: middle;
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
label {
    cursor: pointer;
}
input {
    line-height: normal;
}
input[type='checkbox'],
input[type='radio'] {
    box-sizing: border-box;
    padding: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    height: auto;
}
input[type='search'] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: bold;
}
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    border: none;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    background: none;
}
.slider-wrap {
    display: none !important;
}
.sp-done {
    display: none;
}
.update-news {
    display: none;
}
.update-news-copy {
    display: flex;
    justify-content: flex-start;
    margin-top: 32px;
}
main#home {
    padding-bottom: 100px;
}
main#home h3 {
    font-size: 40px;
    font-size: 4rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-display: swap;
    color: EA6D97;
    text-align: center;
}
main#home h3 span {
    margin: 0 5px;
    font-size: 30px;
    font-size: 3rem;
}
main#home .section-main {
    width: 100%;
    height: 100vh;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
main#home .section-main .main-visual {
    width: 55%;
    order: 2;
    background: no-repeat center 50% / cover;
    position: relative;
}
main#home .section-main .main-visual:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 90vh;
    background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent 20%);
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent 20%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 20%);
}
main#home .section-main .main-visual h2 {
    display: none;
}
main#home .section-main .main-copy {
    width: 42%;
    order: 1;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-left: 7%;
}
main#home .section-main .main-copy h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-display: swap;
    font-size: 4.2vw;
    line-height: 1.2em;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
    color: #000;
}
main#home .section-main .main-copy p {
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 2.2em;
}
main#home .section-main .counseling-btn {
    display: none;
}
main#home .section-main .main-pcNo1 {
    position: absolute;
    top: 17%;
    right: 2%;
}
main#home .section-main .main-pcNo1 > img {
    width: 260px;
}
main#home .section-banner {
    width: 80vw;
    margin: 100px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main#home .section-banner .banner-img {
    flex-basis: 30%;
}
main#home .section-banner a:nth-child(2) {
    margin: 0 20px;
}
main#home .section-about {
    width: 100%;
    margin-top: 100px;
    padding: 120px 0;
    background: url('https://studio-active.com/images/slider-1.gif') no-repeat left center/auto 100%;
    background-color: #a9d6e2;
}
main#home .section-about .about-inner {
    width: 88vw;
    margin: 0 auto;
    position: relative;
}
main#home .section-about .about-inner .about-intro {
    width: 48%;
    margin: 0 0 0 auto;
}
main#home .section-about .about-inner .about-intro h3 {
    margin-bottom: 40px;
}
main#home .section-about .about-inner .about-intro .text {
    margin-bottom: 50px;
}
main#home .section-about .about-inner .about-intro .text p.main {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 2em;
    margin-bottom: 20px;
}
main#home .section-about .about-inner .about-intro .text p.main span {
    font-size: 10px;
    font-size: 1rem;
}
main#home .section-about .about-inner .about-intro .text p.sub {
    font-size: 13px;
    font-size: 1.3rem;
    margin-bottom: 15px;
}
main#home .section-about .about-inner .about-intro .text p.sub span {
    font-weight: bold;
}
main#home .section-about .about-inner .about-intro .text p.notes {
    font-size: 10px;
    font-size: 1rem;
    line-height: 1.8em;
}
main#home .section-about .about-inner .about-intro .btn {
    text-align: center;
}

main#home .section-studio {
    padding: 100px 0;
}
main#home .section-studio h3 {
    margin-bottom: 60px;
}
main#home .section-studio .studio-inner {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 88vw;
    margin: 0 auto;
}
main#home .section-studio .studio-inner .drawer {
    width: 47.5%;
    margin-bottom: 60px;
}
main#home .section-studio .studio-inner .studio-wrap .image {
    margin-bottom: 30px;
}
main#home .section-studio .studio-inner .studio-wrap .image img {
    width: 100%;
    height: auto;
}
main#home .section-studio .studio-inner .studio-wrap .detail {
    margin-bottom: 30px;
}
main#home .section-studio .studio-inner .studio-wrap .detail .place {
    color: #000;
    font-size: 20px;
    font-size: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-display: swap;
    margin-bottom: 15px;
}
main#home .section-studio .studio-inner .studio-wrap:nth-of-type(n + 3) {
    margin-top: 60px;
}
main#home .section-other {
    padding: 100px 0;
    background-color: #fafafa;
}
main#home .section-other .section-inner {
    position: relative;
}
main#home .section-other .section-inner .image {
    margin: 0 0 0 auto;
    width: 58%;
    height: 470px;
}
main#home .section-other .section-inner .detail {
    width: 40%;
    background-color: #fff;
    padding: 4.2% 4%;
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
main#home .section-other .section-inner .detail h3 {
    margin-bottom: 25px;
}
main#home .section-other .section-inner .btn {
    margin-top: 30px;
    text-align: center;
}
main#home .section-other .section-inner.program img {
    display: block;
    margin: 0 0 0 auto;
    width: 58%;
    height: 470px;
    object-fit: cover;
}
main#home .section-other .section-inner.program source {
    margin: 0 auto 0 0;
    width: 58%;
    height: 470px;
    object-fit: cover;
}
main#home .section-other .section-inner.program .detail {
    left: 6vw;
}
main#home .section-other .section-inner.price {
    margin-top: 80px;
}
main#home .section-other .section-inner.price img {
    display: block;
    margin: 0 auto 0 0;
    width: 58%;
    height: 470px;
    object-fit: cover;
}
main#home .section-other .section-inner.price source {
    margin: 0 auto 0 0;
    width: 58%;
    height: 470px;
    object-fit: cover;
}
main#home .section-other .section-inner.price .detail {
    right: 6vw;
}
main#home .section-solution {
    padding: 100px 0;
}
main#home .section-solution h3 {
    margin-bottom: 60px;
}
main#home .section-solution .solution-inner {
    width: 88vw;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
main#home .section-solution .solution-inner .solution-wrap {
    width: 30%;
    margin-bottom: 50px;
}
main#home .section-solution .solution-inner .solution-wrap .photo {
    margin-bottom: 20px;
}
main#home .section-solution .solution-inner .solution-wrap .photo img {
    width: 100%;
    height: auto;
}
main#home .section-solution .solution-inner .solution-wrap .title {
    font-size: 14px;
    font-size: 1.4rem;
    margin-bottom: 20px;
    padding-left: 10px;
    border-left: 1px solid #000;
}
main#home .section-solution .solution-inner::after {
    content: '';
    width: calc(88vw / 3);
    display: block;
}
main#home .section-solution .notes {
    font-size: 12px;
    font-size: 1.2rem;
    text-align: center;
}
main#home .section-solution .btn {
    text-align: center;
    margin-top: 50px;
}
main#home .section-insta {
    padding: 70px 0;
    background-color: #fafafa;
}
main#home .section-insta h3 {
    margin-bottom: 60px;
}
main#home .section-insta .insta-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    flex-wrap: wrap;
}
main#home .section-insta .insta-image {
    flex-basis: 25%;
}
main#home .section-col2 {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 88vw;
    margin: 0 auto;
}
main#home .section-col2 .section-info,
main#home .section-col2 .section-column {
    padding: 100px 0 0;
    width: 40%;
}
main#home .section-col2 .section-info h3,
main#home .section-col2 .section-column h3 {
    margin-bottom: 50px;
}
main#home .section-col2 .section-info .btn,
main#home .section-col2 .section-column .btn {
    margin-top: 50px;
    text-align: center;
}
main#home .section-col2 .info-list li {
    margin-bottom: 30px;
}
main#home .section-col2 .info-list li a {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
main#home .section-col2 .info-list li a .image {
    width: 100px;
    height: 100px;
}
main#home .section-col2 .info-list li a .image img {
    width: 100%;
    height: auto;
}
main#home .section-col2 .info-list li a .detail {
    width: calc(100% - 120px);
}
main#home .section-col2 .info-list li .info {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 10px;
    line-height: 1em;
}
main#home .section-col2 .info-list li .info .date {
    font-size: 15px;
    font-size: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-display: swap;
    margin-right: 10px;
    padding-right: 10px;
    position: relative;
}
main#home .section-col2 .info-list li .info .date:after {
    content: '';
    width: 1px;
    height: 14px;
    background-color: #000;
    position: absolute;
    right: 0;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
main#home .section-col2 .info-list li .info .category {
    font-size: 12px;
    font-size: 1.2rem;
    color: #000;
}
@media (max-width: 768px) {
    .section-instagram-voice {
        margin: 120px 0;
    }
    .section-instagram-voice .mask {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #f1f1f1;
        opacity: 0;
        transition: all 0.3s;
        pointer-events: none;
    }
    .section-instagram-voice .mask.open {
        opacity: 0.91;
        z-index: 4;
        pointer-events: all;
    }
    .section-instagram-voice .swiper-parent {
        position: relative;
        width: 80%;
        max-width: 1800px;
        margin: 0 auto;
    }
    .section-instagram-voice .swiper-container {
        max-width: 90vw;
        margin: 120px auto;
    }
    .section-instagram-voice .swiper-slide {
        cursor: pointer;
    }
    .section-instagram-voice .swiper-slide-content {
        padding: 4px 12px 0 4px;
    }
    .section-instagram-voice .swiper-desc {
        top: 50%;
        right: 0;
        left: 0;
        transform: translateY(-50%);
        padding: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .section-instagram-voice .close-btn {
        right: 3%;
        top: 2% !important;
    }
    .section-instagram-voice .swiper-desc-img {
        width: 380px !important;
        max-height: 300px !important;
    }
    .section-instagram-voice .swiper-desc-name {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 40px;
    }
    .section-instagram-voice .swiper-desc-text {
        max-height: 160px !important;
    }
    .section-instagram-voice .swiper-desc-day {
        text-align: right;
        font-size: 12px;
        margin-top: 40px;
    }
    .section-instagram-voice .swiper-desc-links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        width: 80%;
        margin: 40px 0 0 auto;
    }
    .section-instagram-voice .swiper-container-horizontal > .swiper-scrollbar {
        height: 6px;
    }
    .section-instagram-voice .swiper-button-prev {
        left: -30px;
    }
    .section-instagram-voice .swiper-button-next {
        right: -30px;
    }
}
@media screen and (max-width: 1024px) {
    .main-visual {
        display: block;
    }
    .update-news-copy {
        display: none;
    }
    main#home .section-main .main-copy h2 {
        font-size: 45px;
        font-size: 4.5rem;
    }
    main#home .section-main .main-copy p {
        font-size: 14px;
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 768px) {
    .sp-done {
        display: block;
    }
    .pc-none {
        display: none;
    }
    .bx-wrapper {
        box-shadow: none !important;
        margin-bottom: 0 !important;
    }
    .custom-thumb {
        display: flex;
    }
    .custom-thumb a {
        opacity: 0.5;
        transition: 0.3s ease;
    }
    .custom-thumb a.active {
        opacity: 1;
    }
    main#home {
        padding-bottom: 70px;
    }
    main#home h3 {
        font-size: 28px;
        font-size: 2.8rem;
    }
    main#home h3 span {
        font-size: 20px;
        font-size: 2rem;
    }
    main#home .section-main {
        padding-top: 70px;
        padding-bottom: 20px;
        width: 100%;
        height: auto;
        display: block;
    }
    main#home .section-main .main-visual {
        width: 100%;
        height: 88vh;
        max-height: 620px;
        background: no-repeat right 70% / 105% auto;
        position: relative;
    }
    main#home .section-main .main-visual:before {
        top: inherit;
        bottom: 0;
        width: 100%;
        height: 300px;
        background: -moz-linear-gradient(to top, rgba(36, 30, 23, 0.6), transparent 100%);
        background: -webkit-linear-gradient(to top, rgba(36, 30, 23, 0.6), transparent 100%);
        background: linear-gradient(to top, rgba(36, 30, 23, 0.6), rgba(0, 0, 0, 0) 100%);
    }
    main#home .section-main .main-visual-titleContainer {
        position: absolute;
        bottom: 6%;
        left: 5%;
    }
    main#home .section-main .main-visual h2.main-visual-title {
        width: 90vw;
        display: block;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        font-display: swap;
        font-size: 1.6rem;
        line-height: 1.6em;
        letter-spacing: 0.08em;
        color: #fff;
        font-weight: 600;
        margin: 10px 0;
    }
    main#home .section-main .main-visual-title {
        font-size: 1.6rem;
        font-weight: 600;
    }
    main#home .section-main .main-visual-logo {
        color: #fff;
        font-size: 5rem;
        font-family: Futura;
        font-weight: 400;
        transform: scaleY(1.04);
        margin: 8px 0;
        width: 200px;
    }
    main#home .section-main .main-visual p.main-visual-benefit {
        width: 90vw;
        display: block;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        font-display: swap;
        font-size: 7vw;
        line-height: 1.4em;
        letter-spacing: 0.02em;
        color: #fff;
        position: absolute;
        left: 50%;
        bottom: 140px;
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    main#home .section-main .main-visual .main-cv {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 0;
        bottom: 0;
        background-color: rgba(36, 30, 23, 0.3);
        width: 100%;
        height: 120px;
    }
    main#home .section-main .main-visual .main-cv p {
        color: white;
        font-weight: 100;
        text-align: center;
        font-size: 14px;
        margin-bottom: 8px;
        font-weight: 400;
    }
    main#home .section-main .main-visual .main-cv span {
        color: #da5040;
    }
    main#home .section-main .main-visual .main-cv .cv-btn {
        background-color: #da5040;
        width: 80%;
        height: 60px;
        margin: 0 auto;
        display: block;
    }
    main#home .section-main .main-visual .main-cv .cv-btn p {
        color: white;
        font-size: 16px;
        line-height: 60px;
        position: relative;
    }
    main#home .section-main .main-visual .main-no1 {
        position: absolute;
        top: 20px;
        right: 3%;
    }
    main#home .section-main .main-visual .main-no1 > img {
        width: calc(414px / 2);
    }
    main#home .section-main .main-visual .main-no1 > source {
        width: calc(414px / 2);
    }
    main#home .section-main .main-pcNo1 {
        display: none !important;
    }
    main#home .section-main .news {
        margin-top: 40px;
    }
    main#home .section-main .news-text {
        border: 1px solid;
    }
    main#home .section-main .main-copy {
        width: 88vw;
        height: auto;
        margin: 0 auto;
        padding: 20px 0;
    }
    main#home .section-main .main-copy h2 {
        display: none;
    }
    main#home .section-main .main-copy p {
        font-size: 3.2vw;
        line-height: 2em;
    }
    main#home .section-main .counseling-btn {
        display: block;
        width: 100%;
    }
    main#home .section-main .counseling-btn a {
        display: inline-block;
        color: #fff;
        font-size: 14px;
        font-size: 1.4rem;
        width: 100%;
        text-align: center;
        height: 60px;
        line-height: 60px;
        background-color: #d9533b;
    }
    main#home .section-main .counseling-btn a span {
        padding-left: 25px;
        position: relative;
    }
    main#home .section-main .counseling-btn a span:before {
        content: '';
        width: 16px;
        height: 14px;
        background: url(/common/img/header/icon_counseling.svg) no-repeat center/contain;
        position: absolute;
        left: 0;
        top: 50%;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    main#home .section-banner {
        width: 90%;
        margin: 0 auto 40px;
        display: block;
    }
    main#home .section-banner .banner-img {
        width: 100%;
        margin: 0 auto 10px;
    }
    main#home .section-banner .banner-img:last-child {
        margin-bottom: 0;
    }
    main#home .section-banner a:nth-child(2) {
        margin: 0;
    }
    main#home .section-about .about-inner .about-intro {
        width: 100%;
        margin: 0 auto;
    }
    main#home .section-about .about-inner .about-intro h3 {
        margin-bottom: 40px;
    }
    main#home .section-about .about-inner .about-intro .text {
        margin-bottom: 40px;
    }
    main#home .section-about .about-inner .about-intro .text p.main {
        font-size: 15px;
        font-size: 1.5rem;
        line-height: 1.8em;
        margin-bottom: 15px;
    }
    main#home .section-about .about-inner .about-intro .text p.sub {
        line-height: 1.8em;
    }
    main#home .section-about .about-inner .about-intro .btn {
        text-align: center;
    }
    main#home .section-instagram-voice {
        margin: 80px 0 40px;
    }
    main#home .section-instagram-voice .swiper-parent {
        position: relative;
        width: 95%;
        max-width: 1800px;
        margin: 0 auto;
    }
    main#home .section-instagram-voice .swiper-container {
        max-width: 94vw;
        margin: 40px auto;
    }
    main#home .section-instagram-voice .swiper-img {
        object-fit: cover;
        height: 140px;
        width: calc(100% / 2 -20);
        object-fit: cover;
    }
    main#home .section-instagram-voice .swiper-desc {
        overflow: scroll;
        padding: 16px !important;
    }
    main#home .section-instagram-voice .close-btn {
        right: 5%;
        top: 10%;
    }
    main#home .section-instagram-voice .swiper-desc-img {
        margin-bottom: 20px;
        object-fit: cover;
        max-height: 400px;
        flex-basis: 50%;
    }
    main#home .section-instagram-voice .swiper-desc-data {
        flex-basis: 42%;
        padding: 10px;
    }
    main#home .section-instagram-voice .swiper-container-horizontal > .swiper-scrollbar {
        height: 4px !important;
    }
    main#home .section-instagram-voice .swiper-button-prev {
        left: 0px;
    }
    main#home .section-instagram-voice .swiper-button-next {
        right: 0px;
    }
    main#home .section-studio {
        padding: 60px 0;
    }
    main#home .section-studio h3 {
        margin-bottom: 50px;
    }
    main#home .section-studio .drawer {
        border-bottom: 1px solid #eeeeee;
        margin-bottom: 6px !important;
        width: 100% !important;
    }
    main#home .section-studio .drawer-studio-title {
        position: relative;
        padding: 16px 20px;
        margin-bottom: 4px;
    }
    main#home .section-studio .drawer-studio-title::before,
    main#home .section-studio .drawer-studio-title::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 8%;
        display: inline-block;
        width: 10px;
        height: 1px;
        background-color: #000000;
    }
    main#home .section-studio .drawer-studio-title::before {
        transform: rotate(90deg);
        transition: all 0.3s;
    }
    main#home .section-studio .drawer-studio-title.open::before {
        transform: rotate(0deg);
    }
    main#home .section-studio .studio-inner {
        display: block;
    }
    main#home .section-studio .studio-inner .studio-wrap {
        width: 94%;
        margin: 0 auto;
        padding-bottom: 40px;
        transition: all 0.3s;
    }
    main#home .section-studio .studio-inner .studio-wrap .image {
        margin-bottom: 20px;
    }
    main#home .section-studio .studio-inner .studio-wrap .detail {
        margin-bottom: 30px;
    }
    main#home .section-studio .studio-inner .studio-wrap .detail .place {
        font-size: 18px;
        font-size: 1.8rem;
    }
    main#home .section-studio .studio-inner .studio-wrap .btn {
        text-align: center;
    }
    main#home .section-studio .studio-inner .studio-wrap:nth-of-type(n + 2) {
        margin-top: 40px;
    }
    main#home .section-studio .studio-inner .studio-wrap .studio-map {
        margin-bottom: 10px;
    }
    main#home .section-studio .studio-inner .studio-wrap .studio-btnArea {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    main#home .section-studio .studio-inner .studio-wrap .studio-area > a,
    main#home .section-studio .studio-inner .studio-wrap .studio-cv > a {
        display: inline-block;
        width: 100%;
    }
    main#home .section-studio .studio-inner .studio-wrap .studio-area > a {
        margin-bottom: 10px;
    }
    main#home .section-studio .studio-inner .studio-wrap .studio-cv {
        background-color: #d9533b;
    }
    main#home .section-studio .studio-inner .studio-wrap .studio-cv > a {
        color: #ffffff;
        border: none !important;
        font-weight: bold;
    }
    main#home .section-studio .studio-inner .studio-wrap.hidden {
        visibility: hidden;
        height: 0;
        padding: 0;
        opacity: 0;
        pointer-events: none;
    }
    main#home .section-other {
        padding: 60px 0;
    }
    main#home .section-other .section-inner {
        width: 88vw;
        margin: 0 auto;
    }
    main#home .section-other .section-inner .image {
        width: 100%;
        height: 200px;
    }
    main#home .section-other .section-inner .detail {
        width: 100%;
        padding: 40px 30px;
        position: relative;
        top: 0;
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
    main#home .section-other .section-inner .detail h3 {
        margin-bottom: 25px;
    }
    main#home .section-other .section-inner .btn {
        margin-top: 30px;
        text-align: center;
    }
    main#home .section-other .section-inner.program img {
        width: 100%;
        height: 200px;
        margin: 0 auto;
    }
    main#home .section-other .section-inner.program .detail {
        left: 0;
    }
    main#home .section-other .section-inner.price {
        margin-top: 25px;
    }
    main#home .section-other .section-inner.price img {
        width: 100%;
        height: 200px;
        margin: 0 auto;
    }
    main#home .section-other .section-inner.price .detail {
        right: 0;
    }
    main#home .section-voice {
        padding: 60px 0;
    }
    main#home .section-voice h3 {
        margin-bottom: 40px;
    }
    main#home .section-voice .voice-inner .voice-wrap {
        width: 47%;
        margin-bottom: 30px;
    }
    main#home .section-voice .voice-inner .voice-wrap .photo {
        margin-bottom: 15px;
    }
    main#home .section-voice .voice-inner .voice-wrap .tag {
        color: #000;
        margin-bottom: 15px;
    }
    main#home .section-voice .voice-inner .voice-wrap .tag span {
        display: block;
    }
    main#home .section-voice .voice-inner .voice-wrap .tag span:nth-of-type(n + 2) {
        margin-left: 0;
    }
    main#home .section-voice .voice-inner .voice-wrap .comment .name {
        font-size: 11px;
        font-size: 1.1rem;
    }
    main#home .section-voice .notes {
        width: 88vw;
        margin: 0 auto;
        font-size: 10px;
        font-size: 1rem;
        text-align: left;
    }
    main#home .section-voice .btn {
        margin-top: 40px;
    }
    main#home .section-solution {
        padding: 60px 0;
    }
    main#home .section-solution h3 {
        margin-bottom: 40px;
    }
    main#home .section-solution .solution-inner .solution-wrap {
        width: 47%;
        margin-bottom: 30px;
    }
    main#home .section-solution .solution-inner .solution-wrap .photo {
        margin-bottom: 15px;
    }
    main#home .section-solution .solution-inner .solution-wrap .title {
        font-size: 12px;
        font-size: 1.2rem;
        margin-bottom: 15px;
    }
    main#home .section-solution .btn {
        margin-top: 40px;
    }
    main#home .section-insta {
        padding: 60px 0;
    }
    main#home .section-insta h3 {
        margin-bottom: 40px;
    }
    main#home .section-insta .insta-image {
        flex-basis: 50%;
    }
    main#home .section-col2 {
        display: block;
    }
    main#home .section-col2 .section-info,
    main#home .section-col2 .section-column {
        padding: 60px 0 0;
        width: 100%;
    }
    main#home .section-col2 .section-info h3,
    main#home .section-col2 .section-column h3 {
        margin-bottom: 30px;
    }
    main#home .section-col2 .section-info .btn,
    main#home .section-col2 .section-column .btn {
        margin-top: 40px;
        text-align: center;
    }
    main#home .section-col2 .info-list li {
        margin-bottom: 30px;
    }
    main#home .section-col2 .info-list li a .image {
        width: 80px;
        height: 80px;
    }
    main#home .section-col2 .info-list li a .detail {
        width: calc(100% - 100px);
    }
    main#home .section-col2 .info-list li .info {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        margin-bottom: 10px;
        line-height: 1em;
    }
    main#home .section-col2 .info-list li .info .date {
        font-size: 15px;
        font-size: 1.5rem;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-display: swap;
        margin-right: 10px;
        padding-right: 10px;
        position: relative;
    }
    main#home .section-col2 .info-list li .info .date:after {
        content: '';
        width: 1px;
        height: 14px;
        background-color: #000;
        position: absolute;
        right: 0;
        top: 50%;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    main#home .section-col2 .info-list li .info .category {
        font-size: 12px;
        font-size: 1.2rem;
        color: #000;
    }
}
main#home .section-col2 .info-list li a .image img {
    height: 100% !important;
    object-fit: cover !important;
}
.section-main {
    position: relative;
}
.circle-link {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 90px;
    right: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.14);
    background-color: #fff;
}
.circle-link img {
    width: 62px;
    display: block;
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
    transform: translateY(-10px);
}
.circle-link span {
    font-size: 10px;
    margin-top: -29px;
    transform: scale(0.9);
    position: relative;
    font-style: italic;
    z-index: 1;
}
body.new #page {
    line-height: 1.8em;
    position: relative;
}
body.new a {
    text-decoration: none;
    color: #000;
}
body.new img {
    vertical-align: bottom;
}
@media screen and (min-width: 767px) {
    .circle-link {
        transform: scale(1.5);
        top: auto;
        bottom: 100px;
        right: 100px;
    }
}
.ginza_btn {
    padding: 20px 0;
    margin-top: 8px;
    display: block;
    transition: 0.3s ease;
    background-color: #d9533b !important;
    color: #ffffff !important;
    border: none !important;
}
.ginza_btn:hover {
    background-color: #bc3c25 !important;
}
@media screen and (max-width: 768px) {
    .btn.en.ginza {
        display: flex;
    }
    .ginza_btn {
        margin: 0 0 0 4px;
        width: 53%;
        padding: 0 !important;
    }
}
@media screen and (max-width: 330px) {
    .btn.en.ginza {
        display: block;
    }
    .ginza_btn {
        margin: 8px 0 0 0;
    }
}
.update-news {
    margin: 0 auto 8px;
    line-height: 1.5;
    display: flex;
    width: 88%;
}
.update-news-copy {
    margin-top: 32px;
    display: none;
}
.update-news span,
.update-news-copy span {
    display: block;
    padding: 6px 14px;
    display: flex;
    align-items: center;
}
.update-news-copy span + span {
    width: 100%;
    transition: 0.3s ease;
}
.update-news-copy span + span:hover {
    opacity: 0.6;
}
.update-news span:first-child,
.update-news-copy span:first-child {
    background-color: #222222;
    color: #ffffff;
}
.update-news span:last-child {
    background-color: #ffffff;
    width: 70%;
}
.update-news-copy span:last-child {
    background-color: #fafafa;
    border: 1px solid #222222;
}
@media screen and (min-width: 767px) {
    .update-news {
        display: none;
    }
    .update-news-copy {
        display: flex;
        justify-content: flex-start;
    }
}
