@charset "utf-8";
/* CSS Document */

main#concept .mv-section .mv-image{background:url(../images/apts-01.jpg) no-repeat center/cover}
main#concept .concept-intro{width:100%;background:url(../images/apts-01.jpg) no-repeat top center/cover;padding:100px 0 0;text-align:left;}
main#concept .concept-intro 
h3{font-family:"Source Sans Pro", sans-serif;font-weight:300;font-display:swap;font-size:35px;font-size:3.5rem;line-height:1.5em;letter-spacing:0.07em;color:#000;margin-bottom:30px}
main#concept .concept-intro 
p{font-size:18px;font-size:1.8rem;letter-spacing:0.05em;color:#000}
main#concept .concept-main .concept-inner{text-align:left;}
main#concept .concept-main .concept-inner h4{font-family:"Source Sans Pro", sans-serif;font-weight:300;font-display:swap;font-size:30px;font-size:3rem;letter-spacing:0.05em;color:#000;margin-bottom:20px;line-height:1.3em}
main#concept .concept-main .concept-inner .sub{font-size:15px;font-size:1.5rem;letter-spacing:0.05em;color:#000;margin-bottom:50px}
main#concept .concept-main .concept-inner .text{line-height:2em}
main#concept .concept-main .concept-inner .text:nth-of-type(n+2){margin-top:20px}
main#concept .concept-main .concept-inner:nth-of-type(n+2){margin-top:120px}



/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - デスクトップ（デフォルトのグリッド）
   1024-768    - タブレット横長
   768-480     - タブレット縦長
   480-less    - スマホ
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) @media screen and (min-width: 960px) 
    {main#concept{padding:70px 0}	
	main#concept .mv-section .mv-image{background:url(../images/apts-01.jpg) no-repeat center/cover}
	main#concept .concept-intro{padding:50px 0}
	main#concept .concept-intro h3{font-size:6.5vw;margin-bottom:16px}
	main#concept .concept-intro p{font-size:3.5vw}
	main#concept .concept-main{padding:80px 0;margin-bottom:70px}
	main#concept .concept-main .concept-inner{width:88vw;margin:0 auto}
	main#concept .concept-main .concept-inner 
	h4{font-size:23px;font-size:2.3rem;margin-bottom:15px;line-height:1.4em}
	main#concept .concept-main .concept-inner .sub{font-size:13px;font-size:1.3rem;margin-bottom:30px}
	main#concept .concept-main .concept-inner .text{text-align:left;line-height:2em}
	main#concept .concept-main .concept-inner:nth-of-type(n+2){margin-top:80px}}
	
@media all and () and (max-width: 1024px)
{main#concept{padding:70px 0}	
	main#concept .mv-section .mv-image{background:url(../images/apts-01.jpg) no-repeat center/cover}
	main#concept .concept-intro{padding:50px 0}
	main#concept .concept-intro h3{font-size:6.5vw;margin-bottom:16px}
	main#concept .concept-intro p{font-size:3.5vw}
	main#concept .concept-main{padding:80px 0;margin-bottom:70px}
	main#concept .concept-main .concept-inner{width:88vw;margin:0 auto}
	main#concept .concept-main .concept-inner 
	h4{font-size:23px;font-size:2.3rem;margin-bottom:15px;line-height:1.4em}
	main#concept .concept-main .concept-inner .sub{font-size:13px;font-size:1.3rem;margin-bottom:30px}
	main#concept .concept-main .concept-inner .text{text-align:left;line-height:2em}
	main#concept .concept-main .concept-inner:nth-of-type(n+2){margin-top:80px}}
	
@media all and (min-width: 480px) and (max-width: 768px) {main#concept{padding:70px 0}	
	main#concept .mv-section .mv-image{background:url(../images/apts-01.jpg) no-repeat center/cover}
	main#concept .concept-intro{padding:50px 0}
	main#concept .concept-intro h3{font-size:6.5vw;margin-bottom:16px}
	main#concept .concept-intro p{font-size:3.5vw}
	main#concept .concept-main{padding:80px 0;margin-bottom:70px}
	main#concept .concept-main .concept-inner{width:88vw;margin:0 auto}
	main#concept .concept-main .concept-inner 
	h4{font-size:23px;font-size:2.3rem;margin-bottom:15px;line-height:1.4em}
	main#concept .concept-main .concept-inner .sub{font-size:13px;font-size:1.3rem;margin-bottom:30px}
	main#concept .concept-main .concept-inner .text{text-align:left;line-height:2em}
	main#concept .concept-main .concept-inner:nth-of-type(n+2){margin-top:80px}}
	
@media all and (max-width: 480px) 
{main#concept{padding:70px 0}	
	main#concept .mv-section .mv-image{background:url(../images/apts-01.jpg) no-repeat center/cover}
	main#concept .concept-intro{padding:50px 0}
	main#concept .concept-intro h3{font-size:6.5vw;margin-bottom:16px}
	main#concept .concept-intro p{font-size:3.5vw}
	main#concept .concept-main{padding:80px 0;margin-bottom:70px}
	main#concept .concept-main .concept-inner{width:88vw;margin:0 auto}
	main#concept .concept-main .concept-inner 
	h4{font-size:23px;font-size:2.3rem;margin-bottom:15px;line-height:1.4em}
	main#concept .concept-main .concept-inner .sub{font-size:13px;font-size:1.3rem;margin-bottom:30px}
	main#concept .concept-main .concept-inner .text{text-align:left;line-height:2em}
	main#concept .concept-main .concept-inner:nth-of-type(n+2){margin-top:80px}
}	